video::-webkit-media-controls {
  display:none !important;
}

.loop-marker{
  position: absolute;
  font-size: initial;
  color: #ffc600;
  top: -13px;
}
.loop-marker::before{
  position: absolute;
  left: -5px;
}

.volume-control{
  justify-content: flex-end;
}

#volumeIcon{
  background: none;
  color: white;
  font-size: initial;
  display: flex;
  align-items: center;
  justify-content: center;
}

#volumeSlider{
  width: 30%;
  min-width: 50px;
  max-width: 150px;
}
